h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Roboto';
}

#conditions-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}