h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: 'Roboto';
}

#conditions-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.relative-links {
    border: 1px solid;
}

.button-links {
    border: 1px solid;
    border-radius: 25%;
    color: black;
}

#conditions-women-running {
    border: 1px solid;
    height: 100%;
}